@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Roboto", monospace;
}

:root {
    --base-gradient:linear-gradient(
    135deg,
    #F6EFA6,
    #F0D2D1,
    #824C71
  );
    --base-color1:rgb(24, 154, 171);

}

body {
    padding-top: 5%;
}
.logo {
    background-image:var(--base-gradient);
    background-size: 100%;
    font-family: "Monoton";
    font-size: 2rem;
    margin: auto auto auto 1rem;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
    
    
}
.navbar {
    top:0;
    left:0;
    position: fixed;
    background-color: var(--base-color1);
    width:100vw;
    height: 10%;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar ul {
    list-style: none;
    display: flex;
    padding-right:1rem;
}

.navbar ul li {
    padding: 10px 30px;
    position: relative;
}

.navbar ul li a {
    /* margin:1.3rem 1rem auto auto; */
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    transition: all 0.3s;
    color:white
}

.navbar ul li a:hover {
    box-shadow:0 1rem 1px -0.5rem white;
}

.nav-link {
    transition: 0.5s ease;
    text-transform: uppercase;
}

.dropMenu {
    display: none;
}

#dropMenuBK {
    width: 225px;
}

#dropMenuResearch {
    width: 160px;
}

.navbar ul li:hover .dropMenu {
    display: block;
    position: absolute;
    top:100%;
    background:var(--base-color1);
   
}

.navbar ul li:hover .dropMenu ul {
    display: block;
    text-align: center;
    padding: 0;
}

.intro-screen {
    background: var(--base-gradient);
    background-image: url("https://img.freepik.com/premium-vector/dna-background-blue-abstract-helix-biotechnology-hexagon-molecular-texture_229548-1324.jpg?w=996");
    background-size:cover;
    height: 100vh;
    text-align: center;
    line-height: 100vh;
    padding:auto auto;
    margin-right: auto;
    border-color:black;
    border:1px 1px;
    font-size:1.5rem;
}

.contact-section{
    text-align: center;
    background:var(--base-color1);
    color:white;
    font-size:1.5rem;
}

h2 {
    background:var(--base-color1);
    color:white;
}

i:hover {
    color: aqua;
    transition: 0.5s ease;
}

i {
    padding:0.5rem 1.4rem;
}

img {
    display:block;
    width: 30%;
    height: 30%;
    margin: 1rem auto;

}

.intro-screen img {
    display: block;
    margin-right: auto ;
}

.fa {
    color: white;
    display: block;
}