* {
    box-sizing: border-box;
    
}
:root {
    --base-color1:linear-gradient(
    135deg,
    rgb(0, 255, 153),
    rgb(102, 153, 255),
    rgb(204, 102, 255)
  );

  --strand1-color:red;
  --strand2-color:blue;
  --nucleotide-color:green;


}
body {
    background: black;
}

.navbar {
    top:0;
    left:0;
    position: fixed;
    background-color: black;
    display: flex;
    width:100vw;
    justify-content: flex-end;
    align-items: flex-start;
    height: 10%;
    font-size: 1rem;
    box-shadow: 0 0 200px gray;
}

.navbar div ul li {
    padding:5px 25px 30px 0;
    list-style: none;
}

.nav-link {
    text-decoration: none;
    color:white;
    transition: 0.5s ease;
    text-transform: uppercase;
}

.nav-link:hover {
    /* color:aqua; */
    box-shadow:0 20px 10px aqua;
/* linear-gradient(0deg, #2980b9, #6dd5fa, #ffffff) */
}

.intro-screen {
    background: var(--base-color1);
    height: 100vh;
    text-align: center;
    line-height: 100vh;
    padding:auto auto;
    border-color:black;
    border:1px 1px;
    font-size:1.5rem;
}

.content-summary {
    display:grid;
    grid-template-columns: 1fr 2fr;
}

.definitions{
    grid-column: 1/2;
}

.text {
    grid-column:2/-1;
}

.contact-section{
    text-align: center;
    background:black;
    color:white;
    font-size:1.5rem;
}

h2 {
    background:black;
    color:white;
}

i {
    padding:0.5rem 1.4rem;
}

i:hover {
    color: aqua;
    transition: 0.5s ease;
}
/* .nav-dropMenu {
    background: blue;
} */

/* .nav-dropMenu ul {
    width: 1rem;
    height: 1rem;  
} */

/* .nav-dropMenu ul li:nth-child(n+2) {
    background:black;
    list-style: none;
    display: block;
    visibility: hidden;
    overflow: hidden;
    text-transform: uppercase;
    white-space: no-wrap;
    opacity:0;
} */

.top {
    background:red;
    position:relative;
    top:50%;
    left:50%;
    height:70px;
    width:80px;
    border-radius: 0 0 50px 0;
    border:40px;
    border-color: blueviolet;
}
.middle {
    background:red;
    position:relative;
    top:50%;
    left:50%;
    height:70px;
    width:80px;
    border-radius: 50px 0 0 50px;
    border:40px;
    border-color: blueviolet;
}
.bottom {
    background:red;
    position:relative;
    top:50%;
    left:50%;
    height:70px;
    width:80px;
    border-radius: 0 50px 0 0;
    border:40px;
    border-color: blueviolet;
}


/* .nav-dropMenu ul li a, .nav-dropMenu ul li span {
    display:block;
    height: 5%;
    text-decoration: none;
} */
