@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --base-gradient:linear-gradient(
    135deg,
    rgb(0, 255, 153),
    rgb(102, 153, 255),
    rgb(204, 102, 255)
  );
    --base-color1:rgb(200,200,200);

}

.logo {
    background-image:var(--base-gradient);
    background-size: 100%;
    font-family: "Monoton";
    font-size: 2rem;
    margin: auto auto auto 1rem;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
    
    
}
.navbar {
    top:0;
    left:0;
    position: fixed;
    background-color: var(--base-color1);
    display: flex;
    width:100vw;
    justify-content: flex-end;
    height: 10%;
    font-size: 1rem;
}

button {
    margin:auto 1rem auto auto;
    list-style: none;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    border: none;
    border-radius:25%;
    transition: 0.5s ease;
    color:white
}

button:hover {
    background:aqua;
}

.nav-link {
    /* text-decoration: none; */
    /* color:white; */
    transition: 0.5s ease;
    text-transform: uppercase;
}

/* .nav-link:hover {
    color:aqua;
}  */

.intro-screen {
    background: var(--base-gradient);
    height: 100vh;
    text-align: center;
    line-height: 100vh;
    padding:auto auto;
    border-color:black;
    border:1px 1px;
    font-size:1.5rem;
}

/* .content-summary {
    display:grid;
    grid-template-columns: 1fr 2fr;
}

.definitions{
    grid-column: 1/2;
}

.text {
    grid-column:2/-1;
} */

.contact-section{
    text-align: center;
    background:var(--base-color1);
    color:white;
    font-size:1.5rem;
}

h2 {
    background:var(--base-color1);
    color:white;
}

i:hover {
    color: aqua;
    transition: 0.5s ease;
}

i {
    padding:0.5rem 1.4rem;
}

.dropMenu ul li{
    background:black;
    list-style: none;
    display: block;
    text-decoration: none;
    /* visibility: hidden; 
    overflow: hidden; 
    text-transform: uppercase;
    white-space: no-wrap;
    opacity:0; */
    margin-top: 1rem;
}

.dropMenu {
    margin-top: -1rem;
    /* visibility: hidden; */
}

img {
    width: 240px;
    height: 240px;

}